<link rel="stylesheet" href="../css/myprofile.css" />


<h2 id="pageTitle">Profile page</h2>
<div class="mainContainer">
  <div class="profileImage">
    <img src="<%= user.img %> " alt="avatar" />

    <a id="editBtn" href="/editProfile/<%= user.id %>">Edit Profile</a>
  </div>
  <div class="userInfo">
    <h4>User: <%= user.username %></h4>
    <h4>Gender: <%= user.gender %></h4>
    <h4>Email: <%= user.email %></h4>
    <h4>Country: <%= user.country %></h4>
    <h4>Score: <%= user.score %></h4>
  </div>
</div>
