<h2>Profile page</h2>

<br />

<img src="<%= user.img %> " alt="avatar" />
<h3>User: <%= user.username %></h3>
<h3>Gender: <%= user.gender %> </h3>
<h3>Email: <%= user.email %></h3>
<p>Country: <%= user.country %> </p>
<h4>Score: <%= user.score %> </h4>

<br>
<a href="/editProfile/<%= user.id %>">Edit Profile</a>
<br>
<a href="/">Back Home</a>
